.content{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 40px;
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    &__title {
        color: white;
        margin: 10px 0px;
    }
    &__empty{
        color: white;
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        margin-top: 50px;
    }
}

.hr{
    border: 1px solid white;
}
