@import './normalize';
@import './components/loginPage';
@import './components/content';
@import './components/cards';

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.addCart{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 30px 20px 0px;
}